        /* Curso Alura Começando com CSS  */ 
        /* Exercicio Alura Curso CSS 
        By : Joel Andrade;
        */
        /* Perdoe pela bagunça do css */
        /* Desevolvido durante o curso */
        html {
            font-size: 120%;
        }
        body {
            background-color: #F2FFFC;
            line-height: 1.5;
        }
        main {
            float: left;
            width: calc(100% - 0.9 * 300px);
        }
        main h1 {
            font-size: 300%;
            background-color: rgb(120, 30, 60);
            color: #FAFFFA;
            text-align: center;
            font-family: "Open sans", sans-serif;
            padding: 25px;
            margin: 0px;
            text-transform: uppercase;
            border-bottom: 10px solid black;
        }

        aside {
            background-color: #3C1D3D;
            color: #F2FFFC;
            text-align: center;
            padding: 20px;
            font-family: "Open Sans Condensed", sans-serif;
            float: right;
            clear: right;
            box-sizing: border-box;
            position: relative;
            top: 280px;
            background-image: linear-gradient(45deg,
            transparent,
            transparent 14px,
            rgba(255, 255, 255, 0.1) 14px,
            rgba(255, 255, 255, 0.1) 15px,
            transparent 15px,
            transparent);
        background-size: 20px 20px;
        background-attachment: fixed;
        }
        aside, img {
            float: right;
           width: calc(0.9 * 300px);
            border-bottom: 10px solid black;
            border-left: 10px solid black;
        }
        aside h1 {
            font-size: 30px;
            margin-bottom: 25px;
            text-transform: uppercase;
        }
        aside a {
            color: inherit;

        }
        footer {
            background-color: #000;
            color: #F2FFFC;
            padding: 20px;
            clear: both;
            position: fixed;
            bottom: 0;
            width: 100%;
            box-sizing: border-box;
        }

        nav a {
            color: #F2FFFC;
        }
        nav a:hover {
            color:#8B1C62
        }
        nav a:focus {
            text-shadow: 0 0 2px pink;
        }

        .icones-sociais li {
            display: inline-block;
        }
        .icones-sociais a{
            display: block;
            width: 40px;
            height: 40px;
            font-size: 0px; /* pode usar assim para esconder as fontes ou 	text-indent: -9999px;*/
        }
        .github {
            background-image: url(../img/github.png);
        }
        .twitter {
            background-image: url(../img/twitter.png);
        }
        .linkedin {
            background-image: url(../img/linkedin.png);
        }
        div {
            margin-left: auto;
            margin-right: auto;
            width: 720px;
        }

        .minha-foto {
            position: absolute;
            top: 0;
            right: 0;
        }
        .container {
            margin: 0 auto;
            width: 600px;
            padding: 40px 0;
            padding-bottom: 100px;

        }


        /* Formulario */
  
        legend,
        label[for="msg"] {
            font-weight: bold;
            margin-top: 1em;
        }
        label[for] {
            display: block;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            font-family: inherit;
            font-size: 100%;
            padding: .25em .5em;
            width: 100%;
            box-sizing: border-box;
            border:1px solid #CCC;
        }
        fieldset > fieldset {
            display: inline;
        }


        /* Esconde a opção do Texto do Input outros */
        input[name="Outro-Assunto"] {
            width: auto;
            display: none;
        }
        input[value="outros"]:checked ~ input {
            width: auto;
            display: inline;
        }
    
            /* ~ */

        input:focus,
        textarea:focus {
            background:#FFD;
        }
        input:invalid {
            box-shadow: 0 0 3px red;
        }
        button {
            border: 0;
            padding: .8em 1em;
            margin: .8em .5em;
            font-family: "Open Sans Condensed", sans-serif;
            background-color: #3C1D3D;
            color: white;
            font-size: .8em;
            position: relative;
            left: 20em;
        }
        button:hover,
        button:focus {
            background-color: #8C1D3D;
        }
        .com-icone::after {
            content: "";
            width: 2em;
            height: 1.8em;
            background-color: #8C1D3D;
            background-size: 50% 50%;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 100%;
            left: 0;
        }
        .com-icone {
            position: relative;
        }
        .com-icone + input {
            position: relative;
            left: 2em;
            width: calc(100% - 2em);
        }
        .com-icone[for="nome"]::after {
            background-image: url(../img/usuario.png);
        }
        .com-icone[for="Email"]::after {
            background-image: url(../img/email.png);
        }